<nav class="nav">
  <a class="nav-link" routerLink="/rps/project" routerLinkActive="active" >Project</a>
  <a class="nav-link" routerLink="/rps/play" routerLinkActive="active" >Play</a>
  <a class="nav-link" routerLink="/rps/my-stickers" routerLinkActive="active" >My stickers</a>
  <a class="nav-link" routerLink="/rps/add-charity" routerLinkActive="active" >Admin - Add charity</a>
  <a class="nav-link" routerLink="/rps/new-sticker" routerLinkActive="active" >Admin - New sticker</a>
</nav>


<router-outlet></router-outlet>
